{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="container">
  <h3>About Us</h3>
  <div class="row">
    <div class="col-md-6">
      <h4>Mission</h4>
      <p>Our mission is to provide primary school children in Papua New Guinea with an 
      interactive online platform that enhances their learning experience beyond the 
      classroom. We aim to support their understanding of the primary science syllabus
      through engaging and accessible content, fostering a love for learning and scientific exploration.</p>
    </div>
    <div class="col-md-6">
      <h4>Vision</h4>
      <p>We envision a future where every primary school child in Papua New Guinea has equal
    access to high-quality educational resources outside of the traditional classroom setting.
    Our website aims to bridge the educational gap by empowering young learners to excel in 
    science, develop critical thinking skills, and inspire a lifelong passion for discovery.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Values</h4>
      <ul>
        <li>Education Empowerment:
          <p>We believe in the transformative power of education and its ability to empower children to 
        unlock their full potential. We strive to provide educational resources that enable primary 
        school children in Papua New Guinea to expand their knowledge and broaden their horizons.</p></li>

        <li>Accessibility: <p>We are committed to ensuring that our website is easily accessible to all primary school children,
        regardless of their background or circumstances.We aim to break down barriers and provide an inclusive
        learning environment that is available to every child in Papua New Guinea.</p></li>

        <li>Quality Content: 
          <p>We are dedicated to delivering high-quality educational content that aligns with the 
          primary science syllabus. Our materials are meticulously curated, ensuring accuracy, relevance, and engaging
           experiences that foster understanding and curiosity.</p></li>

        <li>Collaboration: 
          <p>We value partnerships and collaboration with educators, parents, and stakeholders in the education sector.
          By working together, we can create a synergistic relationship that maximizes the impact of our resources,
          benefiting primary school children across Papua New Guinea.</p></li>

      </ul>
    </div>
    
    <div class="col-md-6">
      <h4>Our Team</h4>
      <p>Through our mission, vision, and values, we are dedicated to supporting primary school children in Papua New Guinea to excel in their scientific education,
        foster a love for learning, and equip them with the knowledge and skills necessary for a bright and successful future..</p>
  
    </div>
  </div>
</div>
{% endblock %}