{% extends "base.html" %}

{% block title %}Grade 5{% endblock %}

{% block css %}
<style>
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .text-container {
    flex: 1; /* Allow the text container to expand */
    padding: 20px;
  }
  
  .image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px; /* Add margin to create space between text and image */
  }

  .circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
 /* Adjusted margins for headings */
h1,
h3,
h4,
h6 {
  margin-top: 0; /* Remove default top margin */
  margin-bottom: 10px; /* Add bottom margin for spacing */
}
.content {
  margin-left:1cm;
  margin-right:1cm;
  text-align: justify; /* Align text away from the left margin */
}
    
</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="text-container">
    <h1>Welcome to Grade 5 world of science!</h1>
    <p>Get ready to explore the fascinating realms of light and magnets. Let's dive into the wonders of energy and unlock the secrets of our universe. Get ready to learn, discover, and be amazed! Let's begin our scientific adventure together!</p>
  </div>

  <div class="image-container">
    <img src="static/images/grade5.jpg" alt="Image" class="circular-image">
  </div>
</div>
<div class="content">
  <h1>Strand 1: Life</h1>
</div>

<div class="content">
  <h3>Unit 1: Plants</h3>
  <h4>Plant Growth</h4>
  <h6>Outcome 5.1.1 Investigate and understand the conditions necessary for seed germination and plant growth. </h6>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/mj-MXl1-Mgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="content">
  <h3>Unit 2: Animals</h3>
  <h4>Reproduction and Hereditary of Animals</h4>
  <h6>Outcome 5.1.2 Understand that living things reproduce to ensure continuity of their kind.  </h6>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/ZmTSnZ7Z3Vs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/BLw_tIWsmzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>



<div class="content">
  <h3>Unit 4: Interaction and Relationship in the Environment</h3>
  <h4>Habitat and Adoptation</h4>
  <h6>Outcome 5.1.4 Investigate the adaptation of living things in different habitats.  </h6>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/luYp9AvVEI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="content">
  <h4>Energy in Food</h4>
  <h6>Outcome 5.1.5 Investigate and explain the energy pathway from the Sun through to the living things. </h6>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/XCzFE0SB2N4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/0xrInLb5Dyg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="content"><h1> Strand 2: Physical Science</h1></div>

<div class="content"><h3> Unit 1: Energy</h3></div>
<div class="content">
  <h4>Heat</h4>
  <h6>Outcome 5.2.1. Investigate and explain the properties of heat energy  </h6> 
  <iframe width="476" height="288" src="https://www.youtube.com/embed/SreCEFDAHLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/yTpqOSFTgqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

<div class="content">
  <h4>Electricity 2</h4>
  <h6>Outcome 5.2.2. Investigate and identify the properties of electric circuits. </h6>  
  <iframe width="476" height="288" src="https://www.youtube.com/embed/Dx3RpXdJw2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>


<div class="content">
  <h3>Unit 2:Force and Motion</h3>
  <h4>Motion and Machines</h4>
  <h6>Outcome 5.2.3 Investigate and explain changes in motion of objects and the regularity of levers.   </h6> 
  <iframe width="476" height="288" src="https://www.youtube.com/embed/FtCJdrNxxMo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

<div class="content">
  <h3>Unit 3:Matter</h3>
  <h4>Chemical Change</h4>
  <h6>Outcome 5.2.4 Investigate relationships between the three states of matter and heat.</h6>
<h6>5.2.5 Investigate and recognise the fundamentals of chemical changesin matter.</h6>
<iframe width="476" height="288" src="https://www.youtube.com/embed/LnyrKebTnPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="content">
  <h1>Strand 3:Earth and Space</h1>
</div>

<div class="content">
  <h3>Unit 1:Our Earth</h3>
  <h4>Rocks,Minerals and Fossils</h4>
  <h6>Outcome 5.3.1 Investigate the characteristics and properties of rocks and minerals </h6>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/vfWGjcyj8vI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/3pSI1lKg9ok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="content">
  <h3>Unit 2:Weather and Climate</h3>
  <h4>Weather and Seasons</h4>
  <h6>Outcome 5.3.2 Investigate weather and seasons and the effects they have on living things and the environment </h6>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/ec2m-uGXcfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="476" height="288" src="https://www.youtube.com/embed/WkvPdUtYhX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


{% endblock %}



